SOAP Client/spring-boot-soap-client/src/main/resources/wsdl/clientDetailsWsdl.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.howtodoinjava.com/xml/school" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.howtodoinjava.com/xml/school" targetNamespace="http://www.howtodoinjava.com/xml/school">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.howtodoinjava.com/xml/school">

    <xs:element name="ClientDetailsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ClientDetailsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Client" type="tns:Client"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="Client">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="standard" type="xs:int"/>
            <xs:element name="address" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>
  </wsdl:types>
  <wsdl:message name="ClientDetailsRequest">
    <wsdl:part element="tns:ClientDetailsRequest" name="ClientDetailsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ClientDetailsResponse">
    <wsdl:part element="ClientDetailsResponse" name="ClientDetailsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ClientDetailsPort">
    <wsdl:operation name="ClientDetails">
      <wsdl:input message="tns:ClientDetailsRequest" name="ClientDetailsRequest">
    </wsdl:input>
      <wsdl:output message="tns:ClientDetailsResponse" name="ClientDetailsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientDetailsPortSoap11" type="tns:ClientDetailsPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ClientDetails">
      <soap:operation soapAction=""/>
      <wsdl:input name="ClientDetailsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ClientDetailsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientDetailsPortService">
    <wsdl:port binding="tns:ClientDetailsPortSoap11" name="ClientDetailsPortSoap11">
      <soap:address location="http://localhost:8080/service/student-details"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>